<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<title>MK Packaging</title>

	<link rel="icon" type="image/png" href="images/favicon.png" />
	<link href="/css/bootstrap.css" type="text/css" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&amp;display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

	<link href="/inc/owl-carosuel/owl.carousel.css" type="text/css" rel="stylesheet" />
	<link href="/inc/owl-carosuel/owl.transitions.css" type="text/css" rel="stylesheet" />
	<link href="/inc/owl-carosuel/owl-animate.css" type="text/css" rel="stylesheet" />

	<link href="/inc/fancybox/jquery.fancybox.css" type="text/css" rel="stylesheet" />

	<link href="/inc/aos/aos.css" type="text/css" rel="stylesheet" />

	<link href="/font/font.css" type="text/css" rel="stylesheet" />
	<link href="/css/style.css?" type="text/css" rel="stylesheet" />
	<link href="/css/media-query.css" type="text/css" rel="stylesheet" />