<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="/backoffice/dashboard" class="app-brand-link">
        <span class="app-brand-logo demo">
          <img src="/../images/logo.png" alt="Maruti Munchies" width="100" height="50">
        </span>
        
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      

      <!-- logo -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon bx bx-image-alt'></i>
          
          <div data-i18n="Layouts">Website Logo</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/backoffice/add_logo" class="menu-link">
              <div data-i18n="Without menu">Add Logo</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/backoffice/manage_logo" class="menu-link">
              <div data-i18n="Without navbar">Manage Logo</div>
            </a>
          </li>
          
        </ul>
      </li>

      <!-- Jumbotron -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon bx bxs-color'></i>
          
          <div data-i18n="Layouts">Jumbotron</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/backoffice/add_jumbotron" class="menu-link">
              <div data-i18n="Without menu">Add Jumbotron</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/backoffice/manage_jumbotron" class="menu-link">
              <div data-i18n="Without navbar">Manage Jumbotron</div>
            </a>
          </li>
          
        </ul>
      </li>

      <!-- Fact Section -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-layout"></i>
          <div data-i18n="Layouts">Fact</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/backoffice/add_fact" class="menu-link">
              <div data-i18n="Without menu">Add Fact</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/backoffice/manage_fact" class="menu-link">
              <div data-i18n="Without navbar">Manage Fact</div>
            </a>
          </li>
          
        </ul>
      </li>

       <!-- About Us Section -->
       <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon bx bxs-buildings'></i>
          <div data-i18n="Layouts">About</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/backoffice/add_about" class="menu-link">
              <div data-i18n="Without menu">Add About</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/backoffice/manage_about" class="menu-link">
              <div data-i18n="Without navbar">Manage About</div>
            </a>
          </li>
          
        </ul>
      </li>

      <!-- Products -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          
          <i class='menu-icon bx bxl-product-hunt'></i>
          <div data-i18n="Layouts">Products</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/backoffice/add_product" class="menu-link">
              <div data-i18n="Without menu">Add Product</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/backoffice/view_product" class="menu-link">
              <div data-i18n="Without navbar">Manage Product</div>
            </a>
          </li>
          
        </ul>
      </li>

      <!-- Process -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            
            <i class='menu-icon bx bx-loader-alt'></i>
          <div data-i18n="Layouts">Our Process</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/backoffice/add_our_process" class="menu-link">
              <div data-i18n="Without menu">Add Process</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/backoffice/manage_our_process" class="menu-link">
              <div data-i18n="Without navbar">Manage Process</div>
            </a>
          </li>
          
        </ul>
      </li>

      <!-- contact details-->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon bx bx-headphone'></i>
          
          <div data-i18n="Layouts">Contact Details</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/backoffice/add_contact" class="menu-link">
              <div data-i18n="Without menu">Add Contact</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/backoffice/manage_contact" class="menu-link">
              <div data-i18n="Without navbar">Manage Contact</div>
            </a>
          </li>
          
        </ul>
      </li>

      <!-- contact details-->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon bx bx-question-mark'></i>
          
          <div data-i18n="Layouts">Why Choose Us</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/backoffice/add_why_choose" class="menu-link">
              <div data-i18n="Without menu">Add</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/backoffice/manage_why_choose" class="menu-link">
              <div data-i18n="Without navbar">Manage</div>
            </a>
          </li>
          
        </ul>
      </li>

      
      
   
      
      

      
     
      
      
      
    </ul>
  </aside>